<!DOCTYPE html>
<html lang="en">
  <!-- head tag { -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eigen Decomposition</title>
    <!-- Style tag { -->
    <link rel="stylesheet" href="/src/assets/docmain.css" />
    <!-- } -->
  </head>
  <!-- } -->
  <body>
    <h1 align="center">
      Eigen Decomposition Algorithm
    </h1>
    
    <!--<h1>UPDATED at {{ now }}</h1>-->
    <h2>
      Matrix determinant:-
    </h2>
    Let us start by understanding how to compute the determinant:-
    <ol>
      <li>
        Let us take the following matrix:-
        <ol>
          <!-- { -->
          <li>
            Sub List Item 1:-
            <table>
              <!-- Title row { -->
              <tr>
                <td align="center">
                  Matrix
                </td>
                <td align="center">
                  Determinant
                </td>
              </tr>
              <!-- } -->
              <!-- 1st row { -->
              <tr>
                <td>
                  <!-- { -->
                  <pre><code class="language-python" id=matrix01></code></pre>
                  <!-- } -->
                </td>
                <td align="center">
                 <!-- { -->
                  <pre><code class="language-python" id=determinant01></code></pre>
                 <!-- } -->
                </td>
              </tr>
              <!-- } -->
            </table>
          </li>
          <!-- } -->
        </ol>
      </li>
    </ol>
    <!-- { -->
    <script type="module" src="/src/assets/docscript.js"></script>
    <!-- } -->
  </body>
</html>
