<!DOCTYPE html>
<html lang="en">
  <!-- head tag { -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Force Release On Regs</title>
    <!-- Style tag { -->
    <!-- <link rel="stylesheet" href="/src/assets/docmain.css" /> -->
    <!-- } -->
  </head>
  <!-- } -->
  <body>
    <h1 align="center">
      Workflow Management Portal
    </h1>
    
    <!--<h1>UPDATED at {{ now }}</h1>-->
    <ol>
      <!-- { -->
      <li>
        <details>
          <summary>
            Table of tasks:-
          </summary>
          <table id="taskTable">
            <!-- Table Header { -->
            <thead>
              <!-- Title row { -->
              <tr>
                <!-- { -->
                <th rowspan="2" align="center">
                  Task Type
                </th>
                <!-- } -->
                <!-- { -->
                <th colspan="3" align="center">
                  Task Properties
                </th>
                <!-- } -->
                <!-- { -->
                <th colspan="10" align="center">
                  Task Dependencies
                </th>
                <!-- } -->
              </tr>
              <!-- } -->
              <!-- Sub-Title row { -->
              <tr>
                <!-- { -->
                <th align="center">
                  Task Number
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Priority
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Deadline
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 1
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 2
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 3
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 4
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 5
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 6
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 7
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 8
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 9
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Dependency 10
                </th>
                <!-- } -->
              </tr>
              <!-- } -->
            </thead>
            <!-- } -->
            <!-- Table body { -->
            <tbody>
            <!-- 1st row { -->
            <tr>
              <!-- { -->
              <td rowspan="2" align="center">
                Tickets
              </td>
              <!-- } -->
              <!-- { -->
              <td align="center">
                <pre><code class="language-verilog" id=verilog001>Ticket Number 12221</code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td>
                <pre><code class="language-verilog" id=verilog002></code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                10 Sept 2025
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                <pre><code class="language-verilog" id=verilog001>task2</code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td rowspan="2" align="left">
                <pre><code class="language-verilog" id=verilog001>task3</code></pre>
              </td>
              <!-- } -->
            </tr>
            <!-- } -->
            <!-- 2nd row { -->
            <tr>
              <!-- { -->
              <td align="center">
                <pre><code class="language-verilog" id=verilog001>Ticket Number 12489</code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td>
                <pre><code class="language-verilog" id=verilog002></code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                10 Sept 2025
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                <pre><code class="language-verilog" id=verilog001>task2</code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td rowspan="2" align="left">
                <pre><code class="language-verilog" id=verilog001>task5</code></pre>
              </td>
              <!-- } -->
            </tr>
            <!-- } -->
            <!-- 3nd row { -->
            <tr>
              <!-- { -->
              <td rowspan="2" align="center">
                Enhancements
              </td>
              <!-- } -->
              <!-- { -->
              <td>
                <pre><code class="language-verilog" id=verilog003></code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td>
                <pre><code class="language-verilog" id=verilog003>2</code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                10 Sept 2025
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                <pre><code class="language-verilog" id=verilog001>task4</code></pre>
              </td>
              <!-- } -->
            </tr>
            <!-- } -->
            <!-- 3nd row { -->
            <tr>
              <!-- { -->
              <td>
                <pre><code class="language-verilog" id=verilog003></code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td>
                <pre><code class="language-verilog" id=verilog003>2</code></pre>
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                10 Sept 2025
              </td>
              <!-- } -->
              <!-- { -->
              <td align="left">
                <pre><code class="language-verilog" id=verilog001>task4</code></pre>
              </td>
              <!-- } -->
            </tr>
            <!-- } -->
            </tbody>
            <!-- } -->
          </table>
        </details>
      </li>
      <!-- } -->
    </ol>
    <!-- { -->
    <script type="module" src="/src/assets/workflow_script.js"></script>
    <!-- } -->
  </body>
</html>
