<!DOCTYPE html>
<html lang="en">
  <!-- head tag { -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflow</title>
    <!-- Style tag { -->
    <!-- <link rel="stylesheet" href="/src/assets/docmain.css" /> -->
    <!-- } -->
  </head>
  <!-- } -->
  <body>
    <h1 align="center">
      Workflow Management Portal
    </h1>
    
    <!--<h1>UPDATED at {{ now }}</h1>-->
    <ol>
      <!-- { -->
      <li>
        <details open="true">
          <summary>
            Table of tasks:-
          </summary>
          <table id="taskTable">
            <!-- Table Header { -->
            <thead>
              <!-- Title row { -->
              <tr>
                <!-- { -->
                <th rowspan="2" align="center">
                  Task Type
                </th>
                <!-- } -->
                <!-- { -->
                <th colspan="4" align="center">
                  Task Properties
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center" id="tableDependenciesHeading">
                  Task Dependencies
                </th>
                <!-- } -->
              </tr>
              <!-- } -->
              <!-- Sub-Title row { -->
              <tr id="taskSubHeadingRow">
                <!-- { -->
                <th align="center">
                  Task Number
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Priority
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  Deadline
                </th>
                <!-- } -->
                <!-- { -->
                <th align="center">
                  base estimate
                </th>
                <!-- } -->
              </tr>
              <!-- } -->
            </thead>
            <!-- } -->
            <!-- Table body { -->
            <tbody>
            </tbody>
            <!-- } -->
          </table>
        </details>
      </li>
      <!-- } -->
    </ol>
    <!-- { -->
    <script type="module" src="/src/assets/workflow_script.js"></script>
    <!-- } -->
  </body>
</html>
